'.text.html, .text.xml, .text.css, .source.js':
  'editor':
    'completions': [

      # Plone
      'portal-type-item'
      'portal-schema-template'

      'browser-page-zcml'
      'browser-page-template'

      'bootstrap-batching-zcml'
      'bootstrap-batching-template'

      'mail-template'

      'rs'
      'rsrg'
      'rscss'

      'egg-buildout'
      'i18n-buildout'
      'grunt-buildout'

      # TAL
      'tal-override'
      'tal-min'
      'tal-condition'
      'tal-content'
      'tal-replace'
      'tal-attributes'
      'tal-define'
      'tal-repeat'
      'tal-define-macro'
      'tal-use-macro'
      'tal-fill-slot'
      'tal-i18n-translate'
      'tal-i18n-attributes'

      # Diazo
      'daz-template'
      'daz-before'
      'daz-after'
      'daz-replace'
      'daz-copy'
      'daz-merge'
      'daz-drop'
      'daz-strip'
      'daz-theme'
      'daz-notheme'
      'daz-xinclude'
      'daz-rule'
      'daz-xsl-attribute'

      # Python
      'schema-py'
      'schema-interfaces'
      'browser-view'

      # Misc
    ]
